<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>관리자목록페이지</h1>
    <!-- router파일의 주소와 동일해야함 /admin/create-->
    <form action="/admin/create" method="post">
        <button type="submit">등록</button>
    </form>
</body>
</html>